a {
	text-decoration: none;
	color: $color_text_1;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		-webkit-transition: all .5s;
  		-moz-transition: all .5s;
  		-ms-transition: all .5s;
  		-o-transition: all .5s;
  		transition: all .5s;   
	}
}