#home {
	width: 100%;
	background-color: $color_bg_1;
	min-height: 700px;
	h1 {
		padding-top: 2em;
		font-size: 5em;
		color: $color_text_1;
		font-family: $font_bold;
	}
	h5 {
		color: $color_logo_1;
		font-weight: 200;
	}
	i {
		padding-left: 3em;
		padding-top: 1em;
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 3.2em;
			padding-top: 1em;
		}
		h5 {
			padding-top: 1em;
		}
	}
}

.center {
	text-align: center;
}

.break {
	width: 100%;
	height: 350px;
	text-align: center;
	background-color: $color_bg_2;
	padding: 7em 0;
	color: $color_logo_1;
	h1 {
		font-weight: 200;
	}
	hr {
		background-color: $color_bg_3;
		max-width: 400px;
	}
}

.break2 {
	width: 100%;
	height: 400px;
	text-align: center;
	background-color: $color_logo_4;
	padding: 8.5em 0;
}

.fixed_bg_home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  min-height: 700px;
}

/**BLOG AREA*/
.blog_area {
  background-color: $color_bg_1;
  padding: 0;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5em;
  }
  a {
  text-decoration: none;
  color: $color_text_1;
  font-family: $font_text;
  font-weight: 100;
  }
  h3 {
  	color: #fff;
  	font-weight: 200;
  	text-align: center;
  }
  h3:hover {
  	color: $color_logo_1;
  	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;  
  }
  .container-fluid,
  .row,
   {
    margin: 0;
    padding: 0;
  }
  .custom_column_third {
    position: relative;
    min-height: 100px;
    float: left;
    padding: 0;
    margin: 0;
    width: 33.33333%;
    @media screen and (max-width: 640px) {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}

.black_background_top {
  cursor: pointer;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  height: 80px;
  padding: 5px;
  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  a {
    color: $color_bg_4;
    font-weight: 100;
  }
}

.black_background_top:hover,
.black_background_top:active {
  background-color: rgba(0,0,0,.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;   
}

.black_background {
  cursor: pointer;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  height: 50px;
  padding: 5px;
  p {
    text-align: center;
    padding: 0 3em;
    color: #fff;
    margin: 0;
    padding-top: 8px;
  }
}

.black_background:hover,
.black_background:active {
  background-color: rgba(0,0,0,.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;   
  p {
    color: $color_logo_1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;  
  }
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.brunch_blog_post {
  width: 100%;
  height: 380px;
}

/*about area*/
#about {
	padding-top: 8em;
	h1 {
		font-family: $font_bold;
	}
}

/*single post*/
.brunch_post {
	padding: 8em 0 3em 0;
}

.post_header {
	margin: 1em 0;
	text-align: center;
	border-top: 2px solid $color_logo_1;
	border-bottom: 2px solid $color_logo_1;
	h1 {
		font-family: $font_bold;
	}
}

.gold {
	color: $color_logo_1;
}
.gray {
	color: $color_bg_2;
}

.site-footer {
	background-color: $color_bg_4;
	padding-top: 1em;
	text-align: center;
	color: $color_logo_1;
	font-weight: 200;
}


